/* Format header*/
* {
    margin: 0;
}

/* Header */
header{
    background-color: cyan;
    background-image: url(../img/pattern.png);
    padding-top: 75px;
}

/* Image */
#Logo{
    width: 25%;
}

/* Format main */
* main{
    margin-left: 5px;
}

/* Font Title */
#font{ 
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    text-align: justify;
    margin-top: 20px;
}

/* Writer and date style */
h2{
    color: grey;
}

#Booleaner{
    color: #4ea0ff;
}

/* Photos style */
.imgtim{
    margin-top: 30px;
    width: 40%;
}

.imgtim2{
    width: 34.2%;
}

/* marker */
.marker{
    background-color: yellow;
}

p{
    margin-top: 30px;
}

ul{
    margin-top: 30px;
}

