/* RESET*/
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
/* /RESET*/

/* UTILITY */

h2, h3{
    color: grey;
}

p, ul, table, #interest{
    margin-top: 30px;
}

.photo1, .photo2{
    width: 312px;
    height: 208px;
    margin-top: 8px;
}

/* Header */
header{
    background-color: lightskyblue;
    background-image: url(../img/pattern.png);
    padding-top: 50px;
}

/* Image */
#Logo{
    width: 20%;
}
/* /Header */

/* MAIN */
main{
    margin-left: 5px;
}

/* Font Title */
h1{ 
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
}

h3{
    margin-bottom: 10px;
}

#Booleaner{
    color: #4ea0ff;
}

/* marker */
.marker{
    background-color: yellow;
}

/* Unorderted List */
ul{
    padding: 15px;
}

/* table */
table{
    /* if you want to remove the spaces you need the border-spacing */
    border-spacing: 0; 
}

thead{
    background-color: #4ea0ff;
    color: white;
}

th{
    text-align: left;
    width: 1000px;
}

tbody>tr:nth-child(odd){
    background-color: lightblue;
}
/* /table */

.overlay{
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    color: white;
}

.photo1{
    background-image: url(../img/monitor.jpg);
}

.photo2{
    background-image: url(../img/graph.jpg);
}
