/* Format header*/
* {
    margin: 0;
}

/* Header */
header{
    background-color: cyan;
    background-image: url(../img/pattern.png);
    padding-top: 75px;
}

/* Image */
#Logo{
    width: 25%;
}

/* Format main */
* main{
    margin-left: 5px;
}

/* Font Title */
#font{ 
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    text-align: justify;
    margin-top: 20px;
}

/* Writer and date style */
h2{
    color: grey;
}

#Booleaner{
    color: #4ea0ff;
}

/* Photos style */
.imgtim{
    margin-top: 30px;
    width: 40%;
}

.imgtim2{
    width: 34.2%;
}

/* marker */
.marker{
    background-color: yellow;
}

/* Paragraph */
p{
    margin-top: 30px;
}

/* Unorderted List */
ul{
    margin-top: 30px;
    padding: 15px;
}

/* table */
table{
    margin-top: 30px;
    border-spacing: 0;
}

thead{
    background-color: #4ea0ff;
    color: white;
}

th{
    text-align: left;
    width: 1000px;
}

.tablecolor{
    background-color: lightblue;
}

/* Interest */
#interest{
    margin-top: 40px;
}

.overlay{
    color: white;
    font-weight: bold;
}

#monitor{
    background-image: url(../img/monitor.jpg);
    width: 312px;
    height: 208px;
    margin-top: 8px; 
}

#graph{
    background-image: url(../img/graph.jpg);
    width: 312px;
    height: 208px;
    margin-top: 8px;
}